services:
  redis:
    image: redis
    container_name: redis
    restart: always
    networks:
      - bot-network

  bot:
    container_name: bot
    build: .
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - bot_data:/app/data

    restart: always
    networks:
      - bot-network
    ports:
      - "8000:8000"


volumes:
  bot_data:

networks:
  bot-network:
    driver: bridge
